

.weatherContainer{
  height: 74vh;
  //width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &-imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    //width: 25vw;
   

  }
  
  &-img {
    height: 30em;
  }
  &-cards{
    height:60vh ;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
    
  }

}